@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin absolute-centering($trans-scale) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale($trans-scale);
}

// media query manager
/*
phone -> w < 600
tab-port -> w < 900
tab-land -> w < 1200
big-descktop -> w > 1800
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
