// colors

$color-black: #000;
$color-grey: #777;
$color-grey-light: #dcd8d8;
$color-white: #fff;
$color-main: #008000;
$color-main-light: #80c080;
$color-main-dark: #005a00;
$color-secondary-light: #f1d29f;
$color-secondary-dark: #f3aa34;
$color-tertiary-light: #b5deec;
$color-tertiary-dark: #3464f3;

// fonts
$default-font-size: 1.8rem;

// grid

$grid-width: 114rem;
$vertical-gap: 3.2rem;
$horizental-gap: 6rem;
$vertical-gap-small: 3rem;
